<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/Cancer-Chizuk/">Home</a></li>
		        	<li><a href="/Cancer-Chizuk/about">About</a></li>
	        		<li><a href="/Cancer-Chizuk/lectures">Lectures</a></li>
	        		<li><a href="/Cancer-Chizuk/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ytfogel@gmail.com">email</a></li>
        		<li><a href="https://yishairasowsky.github.io/Maximize-Products/">Maximize Products</a></li>
				</ul>
			</footer>
		</body>
	</html>
